<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.XiaofeizheMapper">
  <resultMap id="BaseResultMap" type="com.vo.Xiaofeizhe">
    <result column="xiaofeizhebianhao" jdbcType="INTEGER" property="xiaofeizhebianhao" />
    <result column="xiaofeizheid" jdbcType="VARCHAR" property="xiaofeizheid" />
    <result column="xiaofeizhemima" jdbcType="VARCHAR" property="xiaofeizhemima" />
    <result column="xiaofeizheyouxiang" jdbcType="VARCHAR" property="xiaofeizheyouxiang" />
    <result column="xiaofeizhedianhua" jdbcType="BIGINT" property="xiaofeizhedianhua" />
    <result column="xiaofeizhezhuceshijian" jdbcType="TIMESTAMP" property="xiaofeizhezhuceshijian" />
    <result column="xiaofeizhexiadancishu" jdbcType="INTEGER" property="xiaofeizhexiadancishu" />
    <result column="xiaofeizhegongjixiaofeijine" jdbcType="DOUBLE" property="xiaofeizhegongjixiaofeijine" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    xiaofeizhebianhao, xiaofeizheid, xiaofeizhemima, xiaofeizheyouxiang, xiaofeizhedianhua, 
    xiaofeizhezhuceshijian, xiaofeizhexiadancishu, xiaofeizhegongjixiaofeijine
  </sql>
  <select id="selectByExample" parameterType="com.vo.XiaofeizheExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from xiaofeizhe
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.vo.XiaofeizheExample">
    delete from xiaofeizhe
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.vo.Xiaofeizhe">
    insert into xiaofeizhe (xiaofeizhebianhao, xiaofeizheid, 
      xiaofeizhemima, xiaofeizheyouxiang, xiaofeizhedianhua, 
      xiaofeizhezhuceshijian, xiaofeizhexiadancishu, 
      xiaofeizhegongjixiaofeijine)
    values (#{xiaofeizhebianhao,jdbcType=INTEGER}, #{xiaofeizheid,jdbcType=VARCHAR}, 
      #{xiaofeizhemima,jdbcType=VARCHAR}, #{xiaofeizheyouxiang,jdbcType=VARCHAR}, #{xiaofeizhedianhua,jdbcType=BIGINT}, 
      #{xiaofeizhezhuceshijian,jdbcType=TIMESTAMP}, #{xiaofeizhexiadancishu,jdbcType=INTEGER}, 
      #{xiaofeizhegongjixiaofeijine,jdbcType=DOUBLE})
  </insert>
  <insert id="insertSelective" parameterType="com.vo.Xiaofeizhe">
    insert into xiaofeizhe
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="xiaofeizhebianhao != null">
        xiaofeizhebianhao,
      </if>
      <if test="xiaofeizheid != null">
        xiaofeizheid,
      </if>
      <if test="xiaofeizhemima != null">
        xiaofeizhemima,
      </if>
      <if test="xiaofeizheyouxiang != null">
        xiaofeizheyouxiang,
      </if>
      <if test="xiaofeizhedianhua != null">
        xiaofeizhedianhua,
      </if>
      <if test="xiaofeizhezhuceshijian != null">
        xiaofeizhezhuceshijian,
      </if>
      <if test="xiaofeizhexiadancishu != null">
        xiaofeizhexiadancishu,
      </if>
      <if test="xiaofeizhegongjixiaofeijine != null">
        xiaofeizhegongjixiaofeijine,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="xiaofeizhebianhao != null">
        #{xiaofeizhebianhao,jdbcType=INTEGER},
      </if>
      <if test="xiaofeizheid != null">
        #{xiaofeizheid,jdbcType=VARCHAR},
      </if>
      <if test="xiaofeizhemima != null">
        #{xiaofeizhemima,jdbcType=VARCHAR},
      </if>
      <if test="xiaofeizheyouxiang != null">
        #{xiaofeizheyouxiang,jdbcType=VARCHAR},
      </if>
      <if test="xiaofeizhedianhua != null">
        #{xiaofeizhedianhua,jdbcType=BIGINT},
      </if>
      <if test="xiaofeizhezhuceshijian != null">
        #{xiaofeizhezhuceshijian,jdbcType=TIMESTAMP},
      </if>
      <if test="xiaofeizhexiadancishu != null">
        #{xiaofeizhexiadancishu,jdbcType=INTEGER},
      </if>
      <if test="xiaofeizhegongjixiaofeijine != null">
        #{xiaofeizhegongjixiaofeijine,jdbcType=DOUBLE},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.vo.XiaofeizheExample" resultType="java.lang.Long">
    select count(*) from xiaofeizhe
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update xiaofeizhe
    <set>
      <if test="record.xiaofeizhebianhao != null">
        xiaofeizhebianhao = #{record.xiaofeizhebianhao,jdbcType=INTEGER},
      </if>
      <if test="record.xiaofeizheid != null">
        xiaofeizheid = #{record.xiaofeizheid,jdbcType=VARCHAR},
      </if>
      <if test="record.xiaofeizhemima != null">
        xiaofeizhemima = #{record.xiaofeizhemima,jdbcType=VARCHAR},
      </if>
      <if test="record.xiaofeizheyouxiang != null">
        xiaofeizheyouxiang = #{record.xiaofeizheyouxiang,jdbcType=VARCHAR},
      </if>
      <if test="record.xiaofeizhedianhua != null">
        xiaofeizhedianhua = #{record.xiaofeizhedianhua,jdbcType=BIGINT},
      </if>
      <if test="record.xiaofeizhezhuceshijian != null">
        xiaofeizhezhuceshijian = #{record.xiaofeizhezhuceshijian,jdbcType=TIMESTAMP},
      </if>
      <if test="record.xiaofeizhexiadancishu != null">
        xiaofeizhexiadancishu = #{record.xiaofeizhexiadancishu,jdbcType=INTEGER},
      </if>
      <if test="record.xiaofeizhegongjixiaofeijine != null">
        xiaofeizhegongjixiaofeijine = #{record.xiaofeizhegongjixiaofeijine,jdbcType=DOUBLE},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update xiaofeizhe
    set xiaofeizhebianhao = #{record.xiaofeizhebianhao,jdbcType=INTEGER},
      xiaofeizheid = #{record.xiaofeizheid,jdbcType=VARCHAR},
      xiaofeizhemima = #{record.xiaofeizhemima,jdbcType=VARCHAR},
      xiaofeizheyouxiang = #{record.xiaofeizheyouxiang,jdbcType=VARCHAR},
      xiaofeizhedianhua = #{record.xiaofeizhedianhua,jdbcType=BIGINT},
      xiaofeizhezhuceshijian = #{record.xiaofeizhezhuceshijian,jdbcType=TIMESTAMP},
      xiaofeizhexiadancishu = #{record.xiaofeizhexiadancishu,jdbcType=INTEGER},
      xiaofeizhegongjixiaofeijine = #{record.xiaofeizhegongjixiaofeijine,jdbcType=DOUBLE}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>